---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, title, class: className } = Astro.props;
---

<a class:list={[className, "btnSecondary"]} href={href}> {title}</a>

<style>
  .btnSecondary {
    @apply rounded-lg bg-gray-50 py-2 px-6 text-sm font-bold text-gray-900 transition duration-200 hover:bg-gray-100;
  }
</style>
