@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* touch feadback */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* link effect */

.link-effect {
  @apply relative before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-blue-600 before:transition hover:before:scale-100;
}
