<section class="max-w-7xl mx-auto pt-16 lg:pt-20">
  <div class="flex pl-4 mb-8 items-center">
    <div class="w-28 h-[1px] mr-4 bg-[#00000033]"></div>
    <h4
      class="max-w-lg font-sans text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl sm:leading-none"
    >
      Our <span class="inline-block text-primary-400">Values</span>
    </h4>
  </div>

  <div
    class="grid gap-4 row-gap-5 sm:grid-cols-2 lg:grid-cols-3 pb-16 mb-20 border-b border-[#00000033]"
  >
    <div class="flex flex-col justify-between p-5">
      <div>
        <div
          class="flex items-center justify-center w-14 h-14 mb-4 rounded-xl bg-teal-100 bg-opacity-75"
        >
          <span class="text-4xl font-semibold leading-tight text-teal-500">
            1</span
          >
        </div>
        <h6 class="mb-2 font-semibold leading-5 text-2xl">Passionate</h6>
        <p class="mb-3 text-lg leading-6 tracking-wide text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
          sapiente esse minus dolorem qui itaque sequi soluta magnam.
        </p>
      </div>
    </div>
    <div class="flex flex-col justify-between p-5">
      <div>
        <div
          class="flex items-center justify-center w-14 h-14 mb-4 rounded-xl bg-purple-100 bg-opacity-75"
        >
          <span class="text-4xl font-semibold leading-tight text-purple-500">
            2</span
          >
        </div>
        <h6 class="mb-2 font-semibold leading-5 text-2xl">Pioneering</h6>
        <p class="mb-3 text-lg leading-6 tracking-wide text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
          sapiente esse minus dolorem qui itaque sequi soluta magnam.
        </p>
      </div>
    </div>
    <div class="flex flex-col justify-between p-5">
      <div>
        <div
          class="flex items-center justify-center w-14 h-14 mb-4 rounded-xl bg-red-100 bg-opacity-75"
        >
          <span class="text-4xl font-semibold leading-tight text-red-500">
            3</span
          >
        </div>
        <h6 class="mb-2 font-semibold leading-5 text-2xl">Transparent</h6>
        <p class="mb-3 text-lg leading-6 tracking-wide text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
          sapiente esse minus dolorem qui itaque sequi soluta magnam.
        </p>
      </div>
    </div>
  </div>
</section>
