---
const today = new Date();
---

<footer class="p-4 bg-white rounded-lg shadow md:px-6 md:py-8 relative">
  <section class="max-w-7xl mx-auto">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="/" class="flex items-center mb-4 sm:mb-0">
        <img
          src="https://raw.githubusercontent.com/ishre-yash/ishre-yash/main/logoName.svg"
          class="mr-3 h-8"
          alt="ShreYash Logo"
        />
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0"
      >
        <li>
          <a href="/about" class="mr-4 hover:underline md:mr-6">About</a>
        </li>
        <li>
          <a href="/blog" class="mr-4 hover:underline md:mr-6">Blog</a>
        </li>
        <li>
          <a href="/privacypolicy" class="mr-4 hover:underline md:mr-6"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a href="/sitemap-0.xml" class="mr-4 hover:underline md:mr-6"
            >Sitemap</a
          >
        </li>
        <li>
          <a href="/rss.xml" class="mr-4 hover:underline md:mr-6">RSS</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center"
      >&copy; {today.getFullYear()}
      <a href="https://ishre-yash.github.io/" class="hover:underline">
        Shre Yash</a
      >. All Rights Reserved.
    </span>
  </section>
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
