---
import Main from "@layouts/Main.astro";
import Hero from "@components/about/hero.astro";
import Map from "@components/about/map.astro";
import Title from "@common/TitleSection.astro";
---

<Main title="ShreYash - About">
  <Title />
  <Hero />
  <Map />
</Main>
