---
import BlogCard from "@blog/BlogCard.astro";
import Main from "@layouts/Main.astro";
import Title from "@common/TitleSection.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

//see all category
const tags = [
  ...new Set(
    [].concat.apply(
      [],
      posts.map((post) => post.frontmatter.category)
    )
  ),
];
---

<Main title="ShreYash - Home">
  <Title
    subtitle="Insights & Reflections"
    description="Lean into our thoughts and perspectives on the future of work, remote culture, technology, collaboration and much more."
  />
  <main>
    <section class="mx-auto max-w-7xl">
      <ul class="mt-8 flex gap-4 items-center justify-center flex-wrap px-4">
        <li class="text-gray-800 font-semibold">Category:</li>
        {
          tags.map((tag) => (
            <li>
              <a
                class="leading-sm inline-flex items-center rounded-full bg-blue-100 px-4 py-2 text-xs font-bold uppercase text-blue-600 hover:bg-blue-200 hover:text-blue-700"
                href={`/blog/${tag}`}
                title={`View posts category under "${tag}"`}
              >
                {tag}
              </a>
            </li>
          ))
        }
      </ul>
      <ul
        class="row-gap-5 mx-auto grid max-w-7xl gap-8 py-10 px-4 lg:grid-cols-3"
      >
        {
          posts.map((post) => (
            <li>
              <BlogCard post={post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Main>
