---
import Main from "@layouts/Main.astro";
import Background from "@common/Background.astro";
---

<Main title="ShreYash - Contact">
  <Background />
  <section class="py-20 lg:py-[120px] relative z-10 max-w-7xl mx-auto px-4">
    <div class="container">
      <div class="flex flex-wrap lg:justify-between -mx-4">
        <div
          class="w-full lg:w-1/2 xl:w-6/12 p-4 mx-2 mb-4 lg:mb-0 rounded-lg border"
        >
          <div class="max-w-[570px] mb-12 lg:mb-0">
            <h2
              class="text-dark mb-6 uppercase font-bold text-[32px] sm:text-[40px] lg:text-[36px] xl:text-[40px]"
            >
              GET IN TOUCH WITH US
            </h2>
            <p class="text-base leading-relaxed mb-9">
              We are currently experiencing exceptionally high demand so it may
              take us longer than usual to respond to you. Please be assured
              that once we have received your query we will work hard to respond
              as soon as we can.
            </p>
            <div class="flex mb-8 max-w-[370px] w-full">
              <div
                class="max-w-[60px] sm:max-w-[70px] w-full h-[60px] sm:h-[70px] flex items-center justify-center mr-6 overflow-hidden bg-gray-500 bg-opacity-5 rounded-full"
              >
                <svg class="fill-current w-8" viewBox="0 0 24 24"
                  ><path
                    fill="currentColor"
                    d="M5 22h14a2 2 0 0 0 2-2v-9a1 1 0 0 0-.29-.71l-8-8a1 1 0 0 0-1.41 0l-8 8A1 1 0 0 0 3 11v9a2 2 0 0 0 2 2zm5-2v-5h4v5zm-5-8.59l7-7l7 7V20h-3v-5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v5H5z"
                  ></path>
                </svg>
              </div>
              <div class="w-full">
                <h4 class="font-bold text-dark text-xl mb-1">Our Location</h4>
                <p class="text-base">Haridwar, Uttarakhand 249205</p>
              </div>
            </div>

            <div class="flex mb-8 max-w-[370px] w-full">
              <div
                class="max-w-[60px] sm:max-w-[70px] w-full h-[60px] sm:h-[70px] flex items-center justify-center mr-6 overflow-hidden bg-gray-500 rounded-full bg-opacity-5"
              >
                <svg viewBox="0 0 16 16" class="fill-current w-8"
                  ><path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="m1 3.5l.5-.5h13l.5.5v9l-.5.5h-13l-.5-.5v-9zm1 1.035V12h12V4.536L8.31 8.9H7.7L2 4.535zM13.03 4H2.97L8 7.869L13.03 4z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="w-full">
                <h4 class="font-bold text-dark text-xl mb-1">Email Address</h4>
                <a
                  href="mailto:ishreyash.com@gmail.com"
                  class="text-base font-bold text-primary-500"
                >
                  ishreyash.com@gmail.com
                </a>
                <p class="text-sm tracking-tighter text-gray-500">
                  From exploring the right course for you to helping you
                  register, our advisers can help.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 xl:w-5/12 px-4">
          <div
            class="bg-gray-50 bg-opacity-50 backdrop-blur-lg relative rounded-lg p-8 sm:p-12 shadow-2xl"
          >
            <form>
              <div class="mb-6">
                <input
                  type="text"
                  placeholder="Your Name"
                  class="w-full rounded py-3 px-[14px] text-base bg-opacity-50 backdrop-blur-lg border border-[f0f0f0] outline-none focus-visible:shadow-none focus:border-primary-500"
                />
              </div>
              <div class="mb-6">
                <input
                  type="email"
                  placeholder="Your Email"
                  class="w-full rounded py-3 px-[14px] text-base border border-[f0f0f0] outline-none focus-visible:shadow-none focus:border-primary-500"
                />
              </div>
              <div class="mb-6">
                <input
                  type="text"
                  placeholder="Your Phone"
                  class="w-full rounded py-3 px-[14px] text-base border border-[f0f0f0] outline-none focus-visible:shadow-none focus:border-primary-500"
                />
              </div>
              <div class="mb-6">
                <textarea
                  rows="6"
                  placeholder="Your Message"
                  class="w-full rounded py-3 px-[14px] text-base border border-[f0f0f0] resize-none outline-none focus-visible:shadow-none focus:border-primary-500"
                ></textarea>
              </div>
              <div>
                <button
                  type="submit"
                  class="w-full text-white font-bold bg-primary-500 rounded-lg border transition duration-200 p-3 hover:bg-primary-600"
                >
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ====== Contact Section End -->
  </section>
</Main>
