---
import Main from "@layouts/Main.astro";
import BlogCard from "@blog/BlogCard.astro";
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

import About from "@components/about/about.astro";
import Presence from "@components/about/presence.astro";
import Map from "@components/about/map.astro";
import Mission from "@components/about/mission.astro";
---

<Main title="ShreYash - Home">
  <main>
    <About />
    <Presence />
    <Map />
    <Mission />
    <section data-aos="fade-up">
      <h2
        class="mx-auto max-w-7xl px-4 text-2xl font-bold tracking-wider sm:text-4xl pt-6"
      >
        Featured Articles
      </h2>
      <ul
        class="row-gap-5 mx-auto grid max-w-7xl gap-8 py-10 px-4 lg:grid-cols-3"
      >
        {
          posts.map((post, index) => (
            <>
              {index < 6 && (
                <li>
                  <BlogCard post={post} />
                </li>
              )}
            </>
          ))
        }
      </ul>
    </section>
  </main>
</Main>
