---
import HeaderLink from "./HeaderLink.astro";
import PrimaryBtn from "./common/Button/PrimaryBtn.astro";
import { SITE_TITLE } from "../config";
---

<header class="bg-white">
  <nav
    class="relative px-4 py-4 flex justify-between items-center max-w-7xl mx-auto"
  >
    <a class="text-3xl font-bold leading-none" href="/">
      <img
        src="https://raw.githubusercontent.com/ishre-yash/ishre-yash/main/logo.svg"
        class="h-10"
        alt={SITE_TITLE}
      />
    </a>
    <div class="lg:hidden">
      <button class="navbar-burger flex items-center text-blue-600 p-3">
        <svg
          class="block h-4 w-4 fill-current"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>
    <ul
      class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-4"
    >
      <li>
        <HeaderLink
          href="/"
          class="px-4 py-2 text-sm font-semibold text-gray-500 hover:bg-blue-50 hover:text-blue-600 rounded-lg"
          >Home</HeaderLink
        >
      </li>
      <li>
        <HeaderLink
          href="https://ishre-yash.github.io/#/about"
          class="px-4 py-2 text-sm font-semibold text-gray-500 hover:bg-blue-50 hover:text-blue-600 rounded-lg"
          >About Us</HeaderLink
        >
      </li>

      <li>
        <HeaderLink
          href="/blog"
          class="px-4 py-2 text-sm font-semibold text-gray-500 hover:bg-blue-50 hover:text-blue-600 rounded-lg"
          >Blog</HeaderLink
        >
      </li>
      <li>
        <HeaderLink
          href="/contact"
          class="px-4 py-2 text-sm font-semibold text-gray-500 hover:bg-blue-50 hover:text-blue-600 rounded-lg"
          >Contact</HeaderLink
        >
      </li>
    </ul>
    <PrimaryBtn
      href="#"
      title="Get Started"
      class="hidden lg:inline-block lg:ml-auto lg:mr-3"
    />
  </nav>

  <div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav
      class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto"
    >
      <div class="flex items-center mb-8">
        <a class="mr-auto text-3xl font-bold leading-none" href="/">
          <img
            src="https://raw.githubusercontent.com/ishre-yash/ishre-yash/main/logo.svg"
            class="h-12"
            alt={SITE_TITLE}
          />
        </a>
        <button class="navbar-close">
          <svg
            class="h-6 w-6 text-gray-500 cursor-pointer hover:text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1">
            <HeaderLink
              href="/"
              class="block p-4 text-sm font-semibold text-gray-500 hover:bg-blue-50 hover:text-blue-600 rounded-lg"
              >Home</HeaderLink
            >
          </li>
          <li class="mb-1">
            <HeaderLink
              href="https://ishre-yash.github.io/#/about"
              class="block p-4 text-sm font-semibold text-gray-500 hover:bg-blue-50 hover:text-blue-600 rounded-lg"
              >About Us</HeaderLink
            >
          </li>

          <li class="mb-1">
            <HeaderLink
              href="/blog"
              class="block p-4 text-sm font-semibold text-gray-500 hover:bg-blue-50 hover:text-blue-600 rounded-lg"
              >Blog</HeaderLink
            >
          </li>
          <li class="mb-1">
            <HeaderLink
              href="/contact"
              class="block p-4 text-sm font-semibold text-gray-500 hover:bg-blue-50 hover:text-blue-600 rounded-lg"
              >Contact</HeaderLink
            >
          </li>
        </ul>
      </div>
      <div class="mt-auto">
        <div class="pt-6">
          <PrimaryBtn
            href="#"
            title="Get Started"
            class="block items-center text-center"
          />
        </div>
      </div>
    </nav>
  </div>
</header>

<script>
  // Burger menus
  document.addEventListener("DOMContentLoaded", function () {
    // open
    const burger = document.querySelectorAll(".navbar-burger");
    const menu = document.querySelectorAll(".navbar-menu");

    if (burger.length && menu.length) {
      for (var i = 0; i < burger.length; i++) {
        burger[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }

    // close
    const close = document.querySelectorAll(".navbar-close");
    const backdrop = document.querySelectorAll(".navbar-backdrop");

    if (close.length) {
      for (var i = 0; i < close.length; i++) {
        close[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }

    if (backdrop.length) {
      for (var i = 0; i < backdrop.length; i++) {
        backdrop[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }
  });
</script>
