---
export interface Props {
  title?: string;
  subtitle?: string;
  description?: string;
}

const { title = "", subtitle = "", description = "" } = Astro.props;
---

<section
  class="bg-primary-500 bg-opacity-5 h-[360px] md:h-[450px] flex items-center justify-center"
>
  <div
    class="relative m-auto max-w-4xl py-16 px-4 text-center sm:px-6 lg:py-20 grid grid-cols-1 gap-2 justify-center items-center h-fit"
  >
    <h2 class="text-base font-semibold tracking-tight text-primary-500">
      {title}
    </h2>
    <h3
      class="max-w-xl mx-auto font-semibold text-center text-4xl sm:text-5xl text-gray-900 md:tracking-wider"
    >
      {subtitle}
    </h3>
    <p
      class="text-gray-700 font-medium text-lg w-full mx-auto text-center select-none"
    >
      {description}
    </p>
  </div>
</section>

<style>
  section {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1035%26quot%3b)' fill='none'%3e%3cpath d='M1068.75 429.87L1066.47 442.47 1053.68 443.01 1051.4 455.61 1038.6 456.15 1036.32 468.75 1023.53 469.29M1063.5 423.84L1061.22 436.44 1048.42 436.98 1046.14 449.58 1033.34 450.12 1031.06 462.72 1018.27 463.26' stroke='%23e73635' stroke-width='1'%3e%3c/path%3e%3cpath d='M933.93 21.27L940.17 10.08 952.45 13.71 958.68 2.52 970.97 6.15 977.2-5.04 989.48-1.41M936.96 28.67L943.19 17.49 955.47 21.11 961.71 9.93 973.99 13.55 980.22 2.37 992.51 5.99M939.98 36.08L946.22 24.89 958.5 28.52 964.73 17.33 977.01 20.96 983.25 9.77 995.53 13.4' stroke='%23037b0b' stroke-width='1.51' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='99.4' height='99.4' clip-path='url(%26quot%3b%23SvgjsClipPath1036%26quot%3b)' x='334.05' y='286.73' fill='url(%23SvgjsPattern1037)' transform='rotate(245.23%2c 383.75%2c 336.43)'%3e%3c/rect%3e%3ccircle r='90.5146014850195' cx='559.24' cy='457.53' stroke='%23037b0b' stroke-width='2.7'%3e%3c/circle%3e%3crect width='168' height='168' clip-path='url(%26quot%3b%23SvgjsClipPath1038%26quot%3b)' x='612.88' y='141.19' fill='url(%23SvgjsPattern1039)' transform='rotate(227.79%2c 696.88%2c 225.19)'%3e%3c/rect%3e%3ccircle r='64.37843604031332' cx='960.4' cy='78.58' stroke='%23037b0b' stroke-width='2.78' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3crect width='264' height='264' clip-path='url(%26quot%3b%23SvgjsClipPath1040%26quot%3b)' x='39.74' y='34.66' fill='url(%23SvgjsPattern1041)' transform='rotate(147.78%2c 171.74%2c 166.66)'%3e%3c/rect%3e%3crect width='168' height='168' clip-path='url(%26quot%3b%23SvgjsClipPath1042%26quot%3b)' x='1126.29' y='413.97' fill='url(%23SvgjsPattern1043)' transform='rotate(336.73%2c 1210.29%2c 497.97)'%3e%3c/rect%3e%3cpath d='M1115.15 233.71a5.6 5.6 0 1 0-3.89-10.51 5.6 5.6 0 1 0 3.89 10.51zM1109.6 218.7a5.6 5.6 0 1 0-3.9-10.5 5.6 5.6 0 1 0 3.9 10.5zM1104.04 203.7a5.6 5.6 0 1 0-3.89-10.5 5.6 5.6 0 1 0 3.89 10.5zM1098.48 188.7a5.6 5.6 0 1 0-3.89-10.5 5.6 5.6 0 1 0 3.89 10.5z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M883.65 373.46 L770.11 398.51L759.5970845941791 318.70208459417915z' stroke='%23d3b714' stroke-width='1'%3e%3c/path%3e%3cpath d='M143.27 169.63a5.6 5.6 0 1 0-3.8-10.53 5.6 5.6 0 1 0 3.8 10.53zM137.84 154.58a5.6 5.6 0 1 0-3.8-10.53 5.6 5.6 0 1 0 3.8 10.53zM132.42 139.53a5.6 5.6 0 1 0-3.8-10.54 5.6 5.6 0 1 0 3.8 10.54zM126.99 124.48a5.6 5.6 0 1 0-3.8-10.54 5.6 5.6 0 1 0 3.8 10.54z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M256.83 221.96a5.6 5.6 0 1 0-9.38 6.13 5.6 5.6 0 1 0 9.38-6.13zM243.44 230.71a5.6 5.6 0 1 0-9.38 6.13 5.6 5.6 0 1 0 9.38-6.13zM230.04 239.47a5.6 5.6 0 1 0-9.37 6.12 5.6 5.6 0 1 0 9.37-6.12zM216.65 248.22a5.6 5.6 0 1 0-9.37 6.13 5.6 5.6 0 1 0 9.37-6.13zM274.86 191.06a5.6 5.6 0 1 0-9.37 6.13 5.6 5.6 0 1 0 9.37-6.13zM261.47 199.81a5.6 5.6 0 1 0-9.38 6.13 5.6 5.6 0 1 0 9.38-6.13zM248.08 208.57a5.6 5.6 0 1 0-9.38 6.12 5.6 5.6 0 1 0 9.38-6.12zM234.68 217.32a5.6 5.6 0 1 0-9.37 6.13 5.6 5.6 0 1 0 9.37-6.13z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1035'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='99.4' height='9.94' patternUnits='userSpaceOnUse' id='SvgjsPattern1037'%3e%3crect width='99.4' height='4.97' x='0' y='0' fill='%23e73635'%3e%3c/rect%3e%3crect width='99.4' height='4.97' x='0' y='4.97' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1036'%3e%3ccircle r='24.85' cx='383.75' cy='336.43'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1039'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='%23e73635' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1038'%3e%3ccircle r='42' cx='696.88' cy='225.19'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='264' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1041'%3e%3crect width='264' height='3' x='0' y='0' fill='%23d3b714'%3e%3c/rect%3e%3crect width='264' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1040'%3e%3ccircle r='66' cx='171.74' cy='166.66'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1043'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1042'%3e%3ccircle r='42' cx='1210.29' cy='497.97'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  }
</style>
