---
import BaseHead from "@components/BaseHead.astro";
import Header from "@navigation/Header.astro";
import Footer from "@navigation/Footer.astro";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-R6K52GYKZX"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-R6K52GYKZX");
    </script>
  </head>
  <body>
    <Header />
    <div class="w-full h-[72px]"></div>
    <slot />
    <Footer />
  </body>
</html>
